.status-line-row{
  width: 100%;
  min-width: 360px;
  max-width: 480px;
  display: flex;
  height: 40px;
  position: relative;
}

.status-line-row:nth-of-type(1),
.status-line-row:nth-of-type(2),
.status-line-row:nth-of-type(3),
.status-line-row:nth-of-type(11){
  color: #fff;
}


.status-line-row .status-line-icon svg{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: -15px;
  color: #D7D7D7;
}

.status-line-row .line-name{
  width: 50%;
  background-repeat: no-repeat;
  background-position: center left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-line-row .status{
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-line-row .status.normal {
  color: #50B140;
}

.status-line-row .status.problem {
  color: #B14040;
}

